<!--
	THIS EXAMPLE WAS DOWNLOADED FROM https://echarts.apache.org/examples/en/editor.html?c=heatmap-cartesian&lang=js&code=PTAEAcCcFMBdYJbUgWgQcwHYHsYCgBjbTAZ1lACtsAjE0AXlAG0ByQQDhBSOEA44QCThBCODaA4OEDUcH0BMcICI4QIJwHQAxwbQMRwswFhwgcjhAmHBsxCiV0CocIBY4QBhwChXxYAaUO278tC5QoPDtCsYCg4e1MA4cD3WAUOAN1GVlAEDhVMT4-QEY4P1DAcDhLa05eAW1ACjhANjg2QEo4MSSbVPtAKjgxI21AZDhirkAgOAKU_kBsOCV3MWLo-NC-UEBaOE7AGThFUvKFCubZQCE4CXd1fvrbPm9ATjhASThxth7lNgNACDh7UABlAFkAURJ51OW1pQ2t3fsewHY4Pwv-K_XNoy4FbZ3hBUePR6HkArHCAPDh_CsxJptIB0OB4fUAAnCwkE8CSqAAFr0Wqw-agMrXc4NA7xum2BRLBPQMxSU2NJ8nJoIhUPUqgMsIkYnSbT0Cn6oGRoQm6gmHAkIPpuLJygp4Mh0OKBh48Skqn8HBWPW6PXa8RcTj4sIU0TBEgFYI4HXi0Kl10Zsv0pWEijMWKshTeq2KS3iwN0oFC6jBBns_0BsK4YMtgAI4MRg0ANPitQxg6LqL4CpM9aJ6K25Cr9J4vD1JjhLNg7KHxEmrQDCcO4VlIFPEbepsekDBxGrJQKpooAkOAzpm6_nUfJBie0UmK_lVcmU6eRBhr6mibDYIMANHD5UsLYoT7HFZ667R8VQcGagNdsRE1EESdt71JysGwwDMcOoxKAP4AROAUPDYq-H7FBogocCCKwSPE7R6KoArjHwiTPvwxbqKAgBicCwAC6ADceAgBAMDwEgqAYDg-BEKQ5BQNgABuCCYAQ0AMKAeCgBxzDsEoyiovUChcPEyJgnwLjqKECj1GIgCwcDs6jKN8kqlmIW5KhmXBzKW75SGCQlgu4kkejUPTBGwJbWDs6awgpChKdYgCQcLIiLuCuyJuAU7gcDZdksO40SPmIsIef5MZLHwBgeVwfBgoZ1h8h0BR8mI_iJWIbAFOJChfhI6UepljSAAhw5h5RJYLqMV1iZW47jFCC4gZRJ6S2SYZjVQ1CigaYoSaZV6jWYpGVuEYBgRMUGU8LaHrKJk8RaFuBTeSafDmgUjSRnw5TqD54w7KoyihCCtk1OmRg9SwzRiDsILyQNHqNLmejQj5MWyJlTUgj0uhGFyBRgk5P0emmra7tYaawtwyGg7sBh8r9Bg5BUXBirl1ihYibCAOJwegFKJbTaKEkQ41wbD-GIBoFBIsgcCDLASBMxQmAUSjqH0TOyBIrMetV3lM1qEiIj0GMpR6HBgjzIvvo0YiQywHDvmCSxPtY73FE5uQFMUnCZRr8Q1NTGt6EsHAa3wXDGhd9gm2bHWdG4FUsMUpvGqUEkazxt3WLSshSGwKyqBrK7CP04ue1GpgVCHDvfGIOSCPym0-dUTh9fyGtIzUsL-QUwgs50kjZ7ni4Xu-oUFD0n6XYiOxONJZdcP4CgJ3XfKBHogBocGdPRm_5Tcel3ygcNVvfWD0E3xLCnPWM5D7xG4EgFNP0F1qIgEeoi-kOB7LDrwZyhLKMZ2IuKBQ6QBJ98DwgB0cAiMEmTheD4YRUBwIgyBoFguDQIQxBkKAAAmABDWAADWJMHYpxJgAAGKw0DQAAA5sIWHARxJgABGGBVhUGQIAJyIOQcwAATBg0AuCkGcWYAAZmIaggA7Hg8hTAAAsxCABs9CIEAFZiEENIfgpgLDqEEPYSgmh1DGHCOYHAwREimDYNYTIrB0iyEQNQeg0AsDUEUIUUQ9RVgCFCOUSgzRxC6GGOYKg5hujQCqIUVwqxBDxFmLQQIqxFDIEKNEVYhBTjUFSKsag3hDCAnEI4agmRBDYGwIieEtRsDGHuKcfo6hWjElUKsWwxJljYHeL4QQux2SUm5JcbAtx4TPGwMCRAghfiNEZNyXI9JMi3GsISXwihsS9EcKaTokpTS0klLCU4ihWS9GDLafkqwLDCkMIocUvRTTymYMqSgihNS9GmLaQ02BXSnHxOIcMmRjCOmgA2QwxhPTJmHP6VYDh0yIGMJGaAaJuyJlPNaWcuZTyDF8MYYs0ApTdlrNACwupZytlWDgaczhkSbnvM4ccihOy-EcIuU8u5KDbnyKcRwx5NjsWvNQd8hhHDPnouYBwv5RLOFAtQUi4l4LrGgogSwmF_yxkMJYccwlMiWGooIey5l1zrFUpQSwx5RyeUEuWcwEF1C4Wir-Y4vhLCaVKo5Qy6pMiaGstoVqrlAK-E0L5VCkRQr2laseQahhNDXk5OtZ8rBMiNGYLtSozBmDfHhPdSQpp3q8U_O9dKpgdi1ESqcS4tRrqRF-vlZIv1TKUENLUbqnxzqnl0pUcmqwJrzE6LUbchRaS1E5rQZYtRCbzEhqsLMhREbq0ZqMZ4_NCi_FqIIRWtBSbMHxPCWmihJb-XevOeEvNnTwlFu7eEstHrwlVusZA2NTB23esRWUmN4TW3Vo7Tw71zy2lpuwWSpg7Td1RsoaO_5fSh1HuGX6oNiLT1NLrcChZu6G2UM3aARh96u2gHfUwtNvzDlZusf-8567dkTq_Ueh5u6RXMEYXOuBar7nPtQR235K6YOfuwRh39KbkVprFTI0JQ7_0oqHQKjFUHuXYunU8s9wa53oZI2h-Dwam2YJLRwz9_r6V-vYyy71NCj2cqwzyi9LHw00ZLWK71HD_0sLnXujlaGqMys4_8wTOGeW_tXU47VQ6O00JA4S4zF6Hlapo_-mh9GQVauY4umhz6j1RL0R2tt3bF06J0Zy31TzJlBssT57jejMEENk2F6xjHPE6KA04vxPn_0NKSwotz_zGOqKi_y7RUWDk-LSb5hRwWlm2Ki7Z2teX1NoNi5g_9viovEZ8Slqwh7e3Zf_YOgL_yUMoKSd1xhR6CGFcuZkqLOLZ1Rc0dulxvneuENq18jdUXEPhJa0toZ6X0P_pPd1_t3SpvsYoSNr91Xb3dec00uxOiaEltmXl-bx7FvYMXasqLkKmnrcY3s7r2DHtHMO4cnzoyrlRb-4ckrjKMPXcwZAktjDZsQv-89xdjDEt6OO4c9baOSNbYm9izzX7HsUe63AoNmLus5bo9l4nMOv3kcR9Y4ni39EkfR_AjtHD1uavDel7BgnCerIk3lwTJ3Vvhsh1MyV5XHuysp4JlnHaVWHaV9joNhnutS4M4T3DWrgfwMeyJvLR7bPjZi3T0JWrGd8YgSU0bfC1FFsgY9nRRajvVqsP9j3l7sXe89eG73JbPFpKDX4otQaGmFcXYo_59ugmO5nT413ieHdpLT8Vv3ZXY_WJLehv37HaHe4L2HrjCjI-e6DREv3jGuuFcr8nn1qTvdDcsYVyb2eVXhJcUWgdwfYfLez3ktbfuzt25OUdhPTODvZ5vWnjHTTW8p5mXYtJO3u-e9fdngJTSS_ps-83w5Y_zW7Mn_9hvQW5__Iw4v_5YGV_VtR-v0Dhy-_P8Bd7zvuzy_Rdx83xjpGZ92MSc08j0Kc0licb8LESN794FWNvdyNX9idd9ydv8edlUx9xdlVJ9t9w0G8oDpMi9qs5NADpct9RMn8g0WFX99NlVd9htdN4D2MNci1qsTMP9DcG8TMrN88LUi91cYC0D7UeCnE4lS8fFPdWt2M4t5khkJDYDdk5DQDFCiC5Cbdo0v1-8EtVDks5CPNRCv0FFQ06tcsNDhVC05DMtLFLF6s7FgtHs89TD20PFVDc8_E7Cy9VDIEpD9CcDckjD_khtpC39clwC48qkrDNDclbDMF9tEkXErCpDPEy1t03C9Ea8Glgsb0fCcEml_C1Dz1dCr1TDLchkIjgjl9VCjt4jq1Ht-05D71Uink7sMiN9dl9Ca0T85DBD7kgiwNQi_0YMyie0XlFD4dqi_0X8uigtGjsEgsWjgVF0OF9CRMSN_COjkUgiqdkV-juMhjFjoi3k4DHCSMkiIU2dVCSN5j6Dec5DLNw08jF1eUujGMpkXCeUhiiCDjZNxjFNTip9w1GjZd5j1jrV9Dv09VPCYtNiYt-inCDMyimtDUDjNErdKinUblStxC_0uMB0MSX1ZDsSnlDk8TaNkU8SVNmU8Sg9yTqs_FrsO0GkQ0j0Y9rtc981WsTCQ0C9V8YEM9CTqtaUSTmSXEmTnDCTXCST6tGS9FK9tkzjEl2T_lvMdFrtOseSiSxtCSXc7E7Fwc4jyTt1PFbCB8Q1qsd1CSO1mlCSUVciSTXsVTs0ij6SF8qSrs8S18hTN9RShk6TMTNk8Sgs5SlTgN3SgcST2NBs8TYiflrDs0YMdSx1dkRTHTdkjTEyflfTGUIzpSv1uMgz8tkVFTBsSMHSr8SN1TqscU8ThjkUEzrFKzkyNTkU0z8TkVMyUCozZd8zFNFTZNSyKTRV1StiOVYzrFKC6zFNGzZcWz8DaDXTw0cyKF1cgzfDrVFTNEnNSyazrUKzeDCSrUIEbV5zDVGyS1YEI0BTJkbka8rzrF_Nu9iTgVMESNbzaUeVbyYtbzQ9Xz2MGkXEg0Y8I0PNy0ZCHdfMOSCtbzc9LERSs8XFMsXEI1o9PFZsW0fyPCnyMt2tMLSSGEuskKR0oLx1Xyp0vz294LvNELws11MKUjbyBzCE_yYimlzyXVbTMK7twK7yhk0l4izsYK_SKicKn1bydsUKbkjs_F_z99MKIzWK0UQycKIyuLqtIzMKaCzkBLTtDk7F4j_sqLG8flxK9939MKFMsdbzid5KKEgCQLgzsUuLydeLnzqccLOddKbkjjikTiPzzjZLLjRKeV5Kw0sDbzHiuKldnLGV3j6LxySLw0DKFciKATfKFz6KYt5LhzDy7LzKDMVLjMoqg8tKhcDMPLWyhDhKRDs13MFFqqTlK86rLS6qYM6qgC6qUSA8TlPKDM6r_0_Em0dCuryiVFYFYtDC6qQqgkbsILU92roKJqs9PFc8XEm0xTVqfF-rq0MLg9OtRrWi_D2qpDpr6ziKhqpDLF1qojeqa8Vql8qklqZq8LNqc9h8zqWLWraji1HqIEbL2rai0lg9aiLrJ0hk7Fg8RKhq7i2kHryqfrnraiGkjTD86qgsvqTkwyhqL9mrr9WrUcwaQaflbrYaUFMMhqOqMzmq5j2rf8ybyc0bj8Nj2qnLeqSNgbibyV8afdkUibFiYakDqbsVEa9FBM9rrFRM0bFNjqXiAa9FHi2boyOVObZcibZMYbZNnrVc_qtVRb8imA2ChrkM9dmqYS6qirjaHNWrUShqlz0T4FPcPMIUXUpDHbhqVkXaMMXbcLOEXaeF3y7b2a9aXbtyIE_FEtGMGkw9o9slBLM0faBSdFW0PM0lE6-Sw8s9-r6t4LhaxTW0JT_bWdmsXa9Tclo7_iDr_abbEkE7YVTq3DSL86zS7FW0liu8g7e9Pa6L_bwTEkI6aj3r87h0hlI0Y6Vlq750ij-r71LEpLaim6R7KEs6nkztPFEsGjPaGLj1e7oq2ig6wNh6TKfkx6CMzlk6PUwNp6wiSa576yxiXaQT7kV6kdDlQ69Fu6fkt7ydS7fFyN96C0HKi6gDT6zDXK3CgDr64TubPbKzH70bsUX75DkUt7ZyOVS7tUeV9636OUx7MHBVPbKCL6v0Xjr7da5dW1HiYGN7ld_avbRUt7JrDzUH1d970MoS8GmCgHiz4T3b-CfbjNF63yqqSF9qglWslkzTRGA6Q9uqA0hGubiUJHVzKTZHqTZGO0_FI9F0Gkk00sJGAK1EUsTCI7zDZHkGVFLFGSs9EbKsTHmTPFI80LZGAKtHq0zSKlhGql9GK9CLZGhspGmy8LzHeTEldT61W7ZGIG8K7HQKnqJGXdnHuL90FHXtPH_GfqdEDGeKJGsqVlAm5GfqQmJihl_z3GVkonoMd8JGb14nUc3Ht6fkUndbwMTGMM_HTGSbcm78FH9KJHvsynHVTKUsqafGaa_zVisnyN0n7byyFHWasnuMCnj7OFinUmMUynyN1GCb-NwmldamXiUmldJmEGOU_Gldcn_dlUCnKDlnpzKmeUNnCnlV4mTdanDcUmGbrVDnfaDM_GTdcnzdbmDNrnbaY9-mHdYdwsbz507q3aoWHmzlwW8mMUEXrjlUEXDcEW-qEXyaGEk1tkdHYXMcfFk0NF46sWk6EXmSy1ekfEQ0NFo8kLL7zEm1qWHcyHvqjFcXPddqMWYlkWjqEWB0ndonwi0X28Y94sikyWaKY8a82XYH6kKX-6Y8FafriX5S2k80NEiiQXGNzsY87taXqKimEX71mX1WZk5XLTOWDCd7YXsmEM1WFLdlNXpGT6KWgsqWXKflDWxzDkGWjmH6sXVK5X76SbrXQC6WxDCzkXycXWl7pnYWICsXycfW_7IHYXoGTW_KQWAqM3RNI2D6OVHXBM42pNlUhWGMYqM3HifXyDkWeUzWA6qGQXBNrXuiREC3sXsq0XWG7XDcK2zaCXjMfWmD_XGMSXhWjEPVPdnb6ySnKFp2En4W52VnyVF2VCV2mDF3GNW1m0nEk092HcJ2TqiX12TCstEXzEWCgmHcy1k0s8L37CLzGWasz2NrF2pTF37Wl1j2pDk1I1vGL3vNr2l2RWV3vNTTQn9SV2u2-sm1HcB8L3K8D3J3KFj2DyVl_2X3frN3tWAPSiP23SYOIaL2b14PXW4av2ZKL3FGSbj34csO4Wejt3QcYOcbN2IzIOxa_XF3kdF2MNd2H8LKV2I233o3N2Jmv3AGxPiU72-78VF3QDn31EfLcO4GZPOEUObX0D12ezFPhcYOiCQOXi5PV3-EuOiDlOkq1O5y2OGDDPtb-OIS7O8r13WCQOmDTOBGkSNORFlPqsNFfMC9wsH9Z3CVPdXsQvC37kovzn5HhVYdHiouC7DUou4Ej1W1fNBrwv_kALAut1xqEu_1o881Xd7C3dMEPMy081MsuTWsn2ouSqHcm0817DMubknHYubTEl8u_0Xdk10n68ouKsm8ivYPCFqvJltTYuHEwmcvP9ckWuZTEPfMhsk04s7tevNE7sBuOvp8cu2nKEKv4EdtJu-uiOcuSUSPWvN95vLT2vQMqnkuMNev0vFKcuN6mmPu-i0vvszuruRixuEceOiucdUyouSiKaiueFsyovB7CMuvFjduv1Y3YvQXiVjvdi4fKy6unlicI04tM2xugCHv6GMV1v5OdPieBcouWUDPLujPGvRMzvCU4roeXiCeo2OUlvcu7movsFFMKfCHHOxv3nu3ofIFWDSv6vuCivDauGivETrVcfuuTzGuzyYj560FNel7IXjFDKZkdePaxb53g0dfv2I0i0TcdemuGFW1V9w6dey2gkNFCs2SnfmS81k7jH9fvOgky028aWbeALLfX6xT9e879eMPzEk0AbvCbf-udecG-svfNmqkrevWAmnexWnchtQ_ynEkm0i0Xd7eCue7zfXtXeIVdXk0i1LTU_5WZkM-_1TvzfZ6nfXt8_nefqi-0-VlS-BjqPV9kaTeAj3ureMb9fg6Sbm-W7dkA-2LAf9e6ekynf4de-C-offe4dhPffKyq-Tkf6bfJPR-4FpPR_QCF-2VoCbf_98-gCN__8B_uNY-ufmUD_7N7jzeiCG_FnBzv-q2UfRTEyRTLKp8-SuR_nz1H6yZX-t-EXlH2My19WsNmBvlQVl6-91cV_Ffj5wv5W19e_6DRDBVqpM5EuXqEgZI27TQsEMlA7TvFwsTLdOq9AxvoeRoGHcmAraYLJo1YF6EaBs3U9uQPsKtcqBaCYvltR8RlprCD7YLAXgjTmNw-reBxkwIiwYUmBXObCkwI0oeNeBnWIQU6xCI0DOsEg0AXhRDQXUpCsgo1ot1YEDoOBstV6kwPR4_VCBsOHbMmjkFDJdBd2UQbmRdLkDxux6Uwab3uzkCN6dRcgbb0o7kC1BQyJNNPRH4aDUarA1SroJgzeDo-TCIwRtm9Y0CCyHyVgTBibSt5g2NA7BKpViHstyUzglHmM3CGVldB3fajDQM5yZD22HNJoUcSYHM52h6nAQbmwcGyYqhc_UKn4JLbaCeU3gtgcQQ0GCZAhzA0VBYIN7MpChFQ_hLYMrZpUBBrBKoRKzXJND1cKQgqkkL3IaCg8swv_swGcwlDgWulaPHVlGQu47h8bAkoKR_wKFQMkROgbpQ3YvC4uLA94fAgy6PCdhECJNCvmZIaJrszJZNDqVJb_CIhRiItKaT5IvCC8IaHUh5gjSmDw-qpRQbpWZKgiXUrjIEZ1mhFeMq6jwmhDXkRErCHEjwilGK1NI3UgRZpAajVUSTN1Jk3mAkT4M2yPDWe7FFETejzRojtWupXVmWlsL3o0R1aKokCNqKsjhePpR4TD2o7XY5KQImDKSKaKT8m6rHF4bdghzEidKfIofKvzhFBYFRQws5ByIYx4ZHhSmGmj8K4IE5mRJZCkcTmpG0DOEEoz3PMzpFAFMRb_VZo8Kf58jOc3I-kTcX-FYJHiWo4EaKmFFctxhfI_Bu6NII_DlaJohto8PSHNtbCrbIEUHghGtYg8Wo3xPsL5HnC9anoyMYah9HAoTc0or9Hw2VEa9GUpvZNCtW8yVcVhdfMQTIwcIpc6Bsgv2g4XVw9jL27AicbrSTQPlU0E4-wp2I7F5ppKkFdsSp3EETjmSIaeItYwcKZYm0sFd9uuM_briUWeFWpCDgVLTjAiW406g4RdzJF-xJghceYOnHeZDxz4qpInWMFVJZxFHFZJeJ6wCijxGrCcfej7FZCZkT4uYZQh3EASF6E417J-PHpKj1xutJchOPVFnj_sS4ycV9wvJ6ju859CcdDgnHfYgKX4kmihP8Fo4Fx_2f8QHSWJYTKyeEwlozXXHcZIJQBGCeeM4TwTJxJKO8dihQnrNhJiDacUFRvHoNJJuBaSQQXQmnMsJMw2SWAKwnZj1xsuH8Ux1obTibMQEmLGxJNwrjs63zcCccIIqlV1JgLcicCxQrEDC8wExJFxmYrPDDxj5RyQ0LXY55PcsuFyWZybSxZMWPkgNomn8lk9zEGiWLAXmTT2Sk8_kv3ioh7yZ8zG_k1Ef5OwFBII0A1cPivUUGxZ7CSaeDjXiinVoB0sUhCUujzTB5fG4U-uo5JspitChZpbKZVIiwJSpCudSZGaSKme4siCU-HjMgql6CZk1U1DsemSknJXsZaFCrqxDSxYb0rUr0aU38mQ8LWCUpXj9V6nLSEMpUonO93BrOt_JqQjKSRJCnwiEM802HBhiWlWjA2IU6fghi6nFcGJGUvMv5LawujzpoBMaS9WxSTTKyM0-fApxClfN02nk8nIFJWE8YNpfQ-DlJJCmEpYx4Uygr9Iun8JJp8YmVEDOqHhorphxBKnVPDRQysKKVc6QWIelOY9pcCGzMNNURS9VpQeSaZoJEQ4zMph5fGcDxsmgzF0GifqsyRdRQdckgs0KQu2iwrCy0UlF8uLJGlKMGsss9QvLPSGtpEsR6JNGHnBEiyhxsdGWcoPikyyHRa4-Wb8KMSSzKpPwukvSxFlVjPJddY8cbM666y02F4kWYNK0Eyyqx_WeWfjn0EyzDBrsyvCGl3Yu4I0u7aVmHk6wqzJkA6dWTch2x8y45AoxLEdhq7GFMmHsrwr4PlmtCAhWsxaSLN1ZNpLZFTD2WwMwlOz4hGs97mHmUquzUcRaUOhGTNl_oyJMstBmaKVkRki5vk5-tbLgRlCtZn9EWYijpoiytcHEh2Qm3lnNCRZPs4lEHOBngzEsXQj2aGNLl9C3C-bEWSsS_4yyVWCY12aLmHlEFm5bs0VAvO46EyZZLxbufZVs7ZzHiscrTPAKkom5k0zdYydvMOG6zMBBcpzBfNNFq9dZAXJZFeLBZjlWs26UBSezaTQL4c0C8jNArBkcpoFn5CBcCnYytpI8j2JNJHgFIaJcFhXYJE8g8x5pRmRsg9siO0ZB90FYvIxBGhSy54m09je2bixUEpYaGhCAhW1OTRFTAOkeKkagvqkpYpCIaLRpXgYV98Fs0CzusQpZmMUkFtRbhcVwFFsKPBCC7VoyX4rQL2JQlYhR6VoXISkFN6LBR6maLQK2BP2YhWD3qYWLvsZCj4fcnDw3JVKZaPBcaPQVYIKJ0Cx6UwmYWL8t-WjeHLgrL4I90F8vcTtYpP7EKPs_0xRbM1oWgExFYC4lJItFkcYZF2bLRn0JSxbzPFORXecQpzlPF0FxS5xSQsAF_lZcySnSTKjSU3NSl2mCxY_J0XLkkFpY6BZ9MNQOKv0TmcpbRwuFuKJKFtTxTFjSW-FsI-CAAHQABbABOAAAAUAAMwACuTERAMQFAALKEAsAaADMoACUoAAAN74JiIKyyAJgGYA7K9lUCRBKAGuUzK0Edyh5UumwigAAAPu8usAoAcI-EAAL77L8I2AcABssuWMATlHEWANgGwAAAbRAOAAABcxy_BOAGwAkAdlCAYgEipYBQrwALAcBH8uUToBIACAP-EiohWcQAAFtAAwCUrYA2KuBJAgACklgfBDCugBLL6V1gWhCyoJXKIAAHgAEF-VCAEgOSvwSwAAAnuAGgDYqCAQCaAOgFwCSrWV5CQBMAiRW0QGITEaAGYgAQiqSAAAGQATUBoAMKhFRSvISQBsAwCXZUisQxmIOIjEXZZADogAJzV6ifBISvwQkBwAMKnZYKpgAAJxV5CDiCQEpXYAAA7kitgCQAVlX8chH8r5XgJJVwq0VSGs4hSqZVcqhVUqsgAqqzE6q4NZQBoAkAzEvq_1bAEDXQBi1lqziOGqjUxq41CaziEmo4jeqOIDEEgCsvdVHB5lGajiDMsYhIroE-COZfyqRURJR15CeVTCoIArKYVJq9lU2vjVmJcASATAFypYB0RkAiAWdaqs4gkr0AdK7FRwhZVmJqANqqFTMuxXxJeV7a5RCQGQBIAxVzAfBHWo4iYAAEMy2VRZE_AaArgjsaIBJFACgQplB68hFmt_UsBqVQCOZXisdX_wgExaotYhsXWmqPVH6-tRGujWgBY18a_BA-sI2gA9l4ASlQAnRWvqsNTq3ZTMoOBSrl1yK0NaGvDUAI_4UagAEIwrzlSKxRMRvISsb2NkagAMKwrcA2KyAOgGoAAIFlrKSJFMo4T7L8VzG9tcRrbWtrwEkyv5bhCAA
	⚠ Please be aware that this chart is not an official demo of Apache ECharts but is made by user-generated code.
-->
<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
  <div id="container" style="height: 100%"></div>

  
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
  
  <!-- Uncomment this line if you want to dataTool extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/extension/dataTool.min.js"></script>
  -->
  <!-- Uncomment this line if you want to use gl extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
  -->
  <!-- Uncomment this line if you want to echarts-stat extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts-stat@latest/dist/ecStat.min.js"></script>
  -->
  <!-- Uncomment this line if you want to use map
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@4.9.0/map/js/china.js"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@4.9.0/map/js/world.js"></script>
  -->
  <!-- Uncomment these two lines if you want to use bmap extension
  <script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=YOUR_API_KEY"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/extension/bmap.min.js"></script>
  -->

  <script type="text/javascript">
    var dom = document.getElementById('container');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};
    
    var option;

    // prettier-ignore
const jobs = ['กลุ่มกฎหมายและกระบวนการยุติธรรม', 'กลุ่มการบริหารราชการแผ่นดินและความมั่นคง', 'กลุ่มการศึกษา', 'กลุ่มการสาธารณสุข', 'กลุ่มประชาสังคม องค์กรสาธารณประโยชน์', 'กลุ่มผู้ประกอบกิจการ SMEs', 'กลุ่มผู้ประกอบกิจการอื่น', 'กลุ่มผู้ประกอบธุรกิจหรืออาชีพด้านการท่องเที่ยว ', 'กลุ่มผู้ประกอบวิชาชีพ ผู้ประกอบอาชีพอิสระ', 'กลุ่มผู้ประกอบอาชีพด้านวิทยาศาสตร์ เทคโนโลยี', 'กลุ่มผู้ประกอบอาชีพด้านสิ่งแวดล้อม อสังหาริมทรัพย์ พลังงาน', 'กลุ่มผู้ประกอบอุตสาหกรรม ', 'กลุ่มผู้สูงอายุ คนพิการหรือทุพพลภาพ กลุ่มชาติพันธุ์ กลุ่มอัตลักษณ์อื่น', 'กลุ่มลูกจ้าง ผู้ใช้แรงงาน', 'กลุ่มศิลปะ วัฒนธรรม ดนตรี การแสดงและบันเทิง นักกีฬา', 'กลุ่มสตรี', 'กลุ่มสื่อสารมวลชน นักเขียน', 'กลุ่มอาชีพทำนา ทำไร่', 'กลุ่มอาชีพทำสวน เลี้ยงสัตว์ ประมง', 'กลุ่มอื่น ๆ'];
// prettier-ignore
const province = 
    ['กระบี่', 'กรุงเทพมหานคร', 'กาญจนบุรี', 'กาฬสินธุ์', 'กำแพงเพชร', 'ขอนแก่น', 'จันทบุรี', 'ฉะเชิงเทรา', 'ชลบุรี', 'ชัยนาท', 'ชัยภูมิ', 'ชุมพร', 'ตรัง', 'ตราด', 'ตาก', 'นครนายก', 'นครปฐม', 'นครพนม', 'นครราชสีมา', 'นครศรีธรรมราช', 'นครสวรรค์', 'นนทบุรี', 'นราธิวาส', 'น่าน', 'บึงกาฬ', 'บุรีรัมย์', 'ปทุมธานี', 'ประจวบคีรีขันธ์', 'ปราจีนบุรี', 'ปัตตานี', 'พระนครศรีอยุธยา', 'พะเยา', 'พังงา', 'พัทลุง', 'พิจิตร', 'พิษณุโลก', 'ภูเก็ต', 'มหาสารคาม', 'มุกดาหาร', 'ยะลา', 'ยโสธร', 'ระนอง', 'ระยอง', 'ราชบุรี', 'ร้อยเอ็ด', 'ลพบุรี', 'ลำปาง', 'ลำพูน', 'ศรีสะเกษ', 'สกลนคร', 'สงขลา', 'สตูล', 'สมุทรปราการ', 'สมุทรสงคราม', 'สมุทรสาคร', 'สระบุรี', 'สระแก้ว', 'สิงห์บุรี', 'สุพรรณบุรี', 'สุราษฎร์ธานี', 'สุรินทร์', 'สุโขทัย', 'หนองคาย', 'หนองบัวลำภู', 'อำนาจเจริญ', 'อุดรธานี', 'อุตรดิตถ์', 'อุทัยธานี', 'อุบลราชธานี', 'อ่างทอง', 'เชียงราย', 'เชียงใหม่', 'เพชรบุรี', 'เพชรบูรณ์', 'เลย', 'แพร่', 'แม่ฮ่องสอน']
;
// prettier-ignore
const data = [
    [0, 0, 8],
    [1, 0, 109],
    [2, 0, 9],
    [3, 0, 17],
    [4, 0, 6],
    [5, 0, 29],
    [6, 0, 12],
    [7, 0, 14],
    [8, 0, 12],
    [9, 0, 6],
    [10, 0, 12],
    [11, 0, 13],
    [12, 0, 22],
    [13, 0, 7],
    [14, 0, 11],
    [15, 0, 24],
    [16, 0, 30],
    [17, 0, 8],
    [18, 0, 19],
    [19, 0, 51],
    [20, 0, 20],
    [21, 0, 40],
    [22, 0, 13],
    [23, 0, 6],
    [24, 0, 8],
    [25, 0, 83],
    [26, 0, 30],
    [27, 0, 9],
    [28, 0, 16],
    [29, 0, 6],
    [30, 0, 60],
    [31, 0, 25],
    [32, 0, 3],
    [33, 0, 31],
    [34, 0, 21],
    [35, 0, 63],
    [36, 0, 2],
    [37, 0, 19],
    [38, 0, 27],
    [39, 0, 5],
    [40, 0, 34],
    [41, 0, 7],
    [42, 0, 6],
    [43, 0, 53],
    [44, 0, 20],
    [45, 0, 20],
    [46, 0, 22],
    [47, 0, 30],
    [48, 0, 66],
    [49, 0, 87],
    [50, 0, 50],
    [51, 0, 35],
    [52, 0, 23],
    [53, 0, 6],
    [54, 0, 11],
    [55, 0, 12],
    [56, 0, 3],
    [57, 0, 2],
    [58, 0, 15],
    [59, 0, 16],
    [60, 0, 31],
    [61, 0, 12],
    [62, 0, 21],
    [63, 0, 12],
    [64, 0, 41],
    [65, 0, 19],
    [66, 0, 10],
    [67, 0, 4],
    [68, 0, 14],
    [69, 0, 28],
    [70, 0, 17],
    [71, 0, 130],
    [72, 0, 27],
    [73, 0, 31],
    [74, 0, 30],
    [75, 0, 8],
    [76, 0, 10],
    [0, 1, 18],
    [1, 1, 118],
    [2, 1, 9],
    [3, 1, 11],
    [4, 1, 9],
    [5, 1, 41],
    [6, 1, 8],
    [7, 1, 10],
    [8, 1, 16],
    [9, 1, 17],
    [10, 1, 25],
    [11, 1, 7],
    [12, 1, 53],
    [13, 1, 7],
    [14, 1, 6],
    [15, 1, 36],
    [16, 1, 35],
    [17, 1, 5],
    [18, 1, 26],
    [19, 1, 140],
    [20, 1, 37],
    [21, 1, 42],
    [22, 1, 25],
    [23, 1, 14],
    [24, 1, 11],
    [25, 1, 100],
    [26, 1, 35],
    [27, 1, 10],
    [28, 1, 36],
    [29, 1, 20],
    [30, 1, 93],
    [31, 1, 28],
    [32, 1, 3],
    [33, 1, 43],
    [34, 1, 19],
    [35, 1, 28],
    [36, 1, 6],
    [37, 1, 25],
    [38, 1, 49],
    [39, 1, 5],
    [40, 1, 47],
    [41, 1, 15],
    [42, 1, 10],
    [43, 1, 43],
    [44, 1, 22],
    [45, 1, 84],
    [46, 1, 16],
    [47, 1, 33],
    [48, 1, 96],
    [49, 1, 17],
    [50, 1, 64],
    [51, 1, 45],
    [52, 1, 41],
    [53, 1, 12],
    [54, 1, 28],
    [55, 1, 16],
    [56, 1, 12],
    [57, 1, 17],
    [58, 1, 11],
    [59, 1, 12],
    [60, 1, 73],
    [61, 1, 33],
    [62, 1, 16],
    [63, 1, 17],
    [64, 1, 55],
    [65, 1, 20],
    [66, 1, 11],
    [67, 1, 32],
    [68, 1, 9],
    [69, 1, 35],
    [70, 1, 46],
    [71, 1, 126],
    [72, 1, 44],
    [73, 1, 15],
    [74, 1, 66],
    [75, 1, 10],
    [76, 1, 3],
    [0, 2, 26],
    [1, 2, 140],
    [2, 2, 61],
    [3, 2, 69],
    [4, 2, 27],
    [5, 2, 127],
    [6, 2, 18],
    [7, 2, 47],
    [8, 2, 25],
    [9, 2, 25],
    [10, 2, 38],
    [11, 2, 21],
    [12, 2, 34],
    [13, 2, 6],
    [14, 2, 19],
    [15, 2, 74],
    [16, 2, 31],
    [17, 2, 15],
    [18, 2, 64],
    [19, 2, 93],
    [20, 2, 25],
    [21, 2, 34],
    [22, 2, 43],
    [23, 2, 6],
    [24, 2, 54],
    [25, 2, 136],
    [26, 2, 64],
    [27, 2, 22],
    [28, 2, 45],
    [29, 2, 22],
    [30, 2, 165],
    [31, 2, 37],
    [32, 2, 12],
    [33, 2, 41],
    [34, 2, 76],
    [35, 2, 77],
    [36, 2, 34],
    [37, 2, 90],
    [38, 2, 87],
    [39, 2, 8],
    [40, 2, 94],
    [41, 2, 12],
    [42, 2, 21],
    [43, 2, 94],
    [44, 2, 166],
    [45, 2, 107],
    [46, 2, 84],
    [47, 2, 90],
    [48, 2, 233],
    [49, 2, 48],
    [50, 2, 154],
    [51, 2, 44],
    [52, 2, 89],
    [53, 2, 21],
    [54, 2, 24],
    [55, 2, 45],
    [56, 2, 14],
    [57, 2, 22],
    [58, 2, 86],
    [59, 2, 28],
    [60, 2, 92],
    [61, 2, 38],
    [62, 2, 32],
    [63, 2, 45],
    [64, 2, 63],
    [65, 2, 74],
    [66, 2, 22],
    [67, 2, 26],
    [68, 2, 126],
    [69, 2, 49],
    [70, 2, 63],
    [71, 2, 96],
    [72, 2, 84],
    [73, 2, 33],
    [74, 2, 58],
    [75, 2, 51],
    [76, 2, 11],
    [0, 3, 6],
    [1, 3, 104],
    [2, 3, 12],
    [3, 3, 4],
    [4, 3, 3],
    [5, 3, 18],
    [6, 3, 7],
    [7, 3, 9],
    [8, 3, 19],
    [9, 3, 20],
    [10, 3, 6],
    [11, 3, 11],
    [12, 3, 11],
    [13, 3, 3],
    [14, 3, 1],
    [15, 3, 17],
    [16, 3, 12],
    [17, 3, 2],
    [18, 3, 17],
    [19, 3, 49],
    [20, 3, 18],
    [21, 3, 29],
    [22, 3, 9],
    [23, 3, 3],
    [24, 3, 2],
    [25, 3, 68],
    [26, 3, 17],
    [27, 3, 10],
    [28, 3, 25],
    [29, 3, 11],
    [30, 3, 72],
    [31, 3, 14],
    [32, 3, 3],
    [33, 3, 23],
    [34, 3, 11],
    [35, 3, 5],
    [36, 3, 4],
    [37, 3, 19],
    [38, 3, 25],
    [39, 3, 3],
    [40, 3, 31],
    [41, 3, 4],
    [42, 3, 9],
    [43, 3, 36],
    [44, 3, 35],
    [45, 3, 30],
    [46, 3, 15],
    [47, 3, 15],
    [48, 3, 68],
    [49, 3, 18],
    [50, 3, 38],
    [51, 3, 32],
    [52, 3, 33],
    [53, 3, 4],
    [54, 3, 14],
    [55, 3, 8],
    [56, 3, 5],
    [57, 3, 4],
    [58, 3, 9],
    [59, 3, 28],
    [60, 3, 45],
    [61, 3, 19],
    [62, 3, 14],
    [63, 3, 21],
    [64, 3, 32],
    [65, 3, 13],
    [66, 3, 9],
    [67, 3, 35],
    [68, 3, 23],
    [69, 3, 52],
    [70, 3, 11],
    [71, 3, 64],
    [72, 3, 71],
    [73, 3, 12],
    [74, 3, 29],
    [75, 3, 28],
    [76, 3, 12],
    [0, 4, 17],
    [1, 4, 92],
    [2, 4, 2],
    [3, 4, 8],
    [4, 4, 3],
    [5, 4, 31],
    [6, 4, 11],
    [7, 4, 10],
    [8, 4, 15],
    [9, 4, 6],
    [10, 4, 4],
    [11, 4, 15],
    [12, 4, 12],
    [13, 4, 8],
    [14, 4, 5],
    [15, 4, 24],
    [16, 4, 26],
    [17, 4, 17],
    [18, 4, 24],
    [19, 4, 102],
    [20, 4, 19],
    [21, 4, 33],
    [22, 4, 15],
    [23, 4, 6],
    [24, 4, 10],
    [25, 4, 137],
    [26, 4, 42],
    [27, 4, 16],
    [28, 4, 28],
    [29, 4, 23],
    [30, 4, 109],
    [31, 4, 11],
    [32, 4, 6],
    [33, 4, 51],
    [34, 4, 15],
    [35, 4, 12],
    [36, 4, 34],
    [37, 4, 9],
    [38, 4, 27],
    [39, 4, 4],
    [40, 4, 36],
    [41, 4, 28],
    [42, 4, 5],
    [43, 4, 53],
    [44, 4, 40],
    [45, 4, 37],
    [46, 4, 5],
    [47, 4, 29],
    [48, 4, 99],
    [49, 4, 60],
    [50, 4, 73],
    [51, 4, 36],
    [52, 4, 21],
    [53, 4, 7],
    [54, 4, 40],
    [55, 4, 20],
    [56, 4, 2],
    [57, 4, 8],
    [58, 4, 1],
    [59, 4, 23],
    [60, 4, 44],
    [61, 4, 10],
    [62, 4, 28],
    [63, 4, 17],
    [64, 4, 41],
    [65, 4, 7],
    [66, 4, 5],
    [67, 4, 14],
    [68, 4, 4],
    [69, 4, 36],
    [70, 4, 49],
    [71, 4, 108],
    [72, 4, 28],
    [73, 4, 26],
    [74, 4, 64],
    [75, 4, 13],
    [76, 4, 12],
    [0, 5, 19],
    [1, 5, 177],
    [2, 5, 6],
    [3, 5, 2],
    [4, 5, 12],
    [5, 5, 20],
    [6, 5, 7],
    [7, 5, 21],
    [8, 5, 26],
    [9, 5, 13],
    [10, 5, 27],
    [11, 5, 9],
    [12, 5, 12],
    [13, 5, 0],
    [14, 5, 1],
    [15, 5, 13],
    [16, 5, 13],
    [17, 5, 7],
    [18, 5, 15],
    [19, 5, 29],
    [20, 5, 8],
    [21, 5, 30],
    [22, 5, 25],
    [23, 5, 2],
    [24, 5, 4],
    [25, 5, 94],
    [26, 5, 26],
    [27, 5, 4],
    [28, 5, 11],
    [29, 5, 6],
    [30, 5, 52],
    [31, 5, 10],
    [32, 5, 7],
    [33, 5, 26],
    [34, 5, 7],
    [35, 5, 5],
    [36, 5, 13],
    [37, 5, 13],
    [38, 5, 19],
    [39, 5, 9],
    [40, 5, 30],
    [41, 5, 5],
    [42, 5, 12],
    [43, 5, 37],
    [44, 5, 73],
    [45, 5, 25],
    [46, 5, 7],
    [47, 5, 25],
    [48, 5, 162],
    [49, 5, 47],
    [50, 5, 34],
    [51, 5, 43],
    [52, 5, 36],
    [53, 5, 1],
    [54, 5, 40],
    [55, 5, 11],
    [56, 5, 2],
    [57, 5, 6],
    [58, 5, 9],
    [59, 5, 34],
    [60, 5, 35],
    [61, 5, 7],
    [62, 5, 20],
    [63, 5, 21],
    [64, 5, 19],
    [65, 5, 5],
    [66, 5, 4],
    [67, 5, 14],
    [68, 5, 7],
    [69, 5, 39],
    [70, 5, 19],
    [71, 5, 130],
    [72, 5, 40],
    [73, 5, 1],
    [74, 5, 30],
    [75, 5, 7],
    [76, 5, 7],
    [0, 6, 11],
    [1, 6, 58],
    [2, 6, 1],
    [3, 6, 3],
    [4, 6, 1],
    [5, 6, 15],
    [6, 6, 8],
    [7, 6, 9],
    [8, 6, 12],
    [9, 6, 9],
    [10, 6, 16],
    [11, 6, 2],
    [12, 6, 9],
    [13, 6, 7],
    [14, 6, 5],
    [15, 6, 8],
    [16, 6, 10],
    [17, 6, 2],
    [18, 6, 12],
    [19, 6, 38],
    [20, 6, 12],
    [21, 6, 10],
    [22, 6, 7],
    [23, 6, 1],
    [24, 6, 9],
    [25, 6, 80],
    [26, 6, 12],
    [27, 6, 6],
    [28, 6, 20],
    [29, 6, 13],
    [30, 6, 18],
    [31, 6, 7],
    [32, 6, 1],
    [33, 6, 41],
    [34, 6, 19],
    [35, 6, 1],
    [36, 6, 5],
    [37, 6, 52],
    [38, 6, 9],
    [39, 6, 2],
    [40, 6, 23],
    [41, 6, 12],
    [42, 6, 1],
    [43, 6, 35],
    [44, 6, 41],
    [45, 6, 44],
    [46, 6, 9],
    [47, 6, 25],
    [48, 6, 55],
    [49, 6, 4],
    [50, 6, 32],
    [51, 6, 30],
    [52, 6, 9],
    [53, 6, 1],
    [54, 6, 16],
    [55, 6, 5],
    [56, 6, 0],
    [57, 6, 8],
    [58, 6, 2],
    [59, 6, 5],
    [60, 6, 41],
    [61, 6, 0],
    [62, 6, 6],
    [63, 6, 16],
    [64, 6, 29],
    [65, 6, 1],
    [66, 6, 2],
    [67, 6, 7],
    [68, 6, 8],
    [69, 6, 28],
    [70, 6, 21],
    [71, 6, 55],
    [72, 6, 16],
    [73, 6, 7],
    [74, 6, 38],
    [75, 6, 6],
    [76, 6, 1],
    [0, 7, 26],
    [1, 7, 79],
    [2, 7, 6],
    [3, 7, 3],
    [4, 7, 2],
    [5, 7, 13],
    [6, 7, 5],
    [7, 7, 5],
    [8, 7, 15],
    [9, 7, 15],
    [10, 7, 2],
    [11, 7, 41],
    [12, 7, 9],
    [13, 7, 17],
    [14, 7, 4],
    [15, 7, 7],
    [16, 7, 1],
    [17, 7, 1],
    [18, 7, 3],
    [19, 7, 35],
    [20, 7, 4],
    [21, 7, 12],
    [22, 7, 11],
    [23, 7, 2],
    [24, 7, 1],
    [25, 7, 58],
    [26, 7, 11],
    [27, 7, 9],
    [28, 7, 17],
    [29, 7, 2],
    [30, 7, 24],
    [31, 7, 9],
    [32, 7, 14],
    [33, 7, 34],
    [34, 7, 14],
    [35, 7, 3],
    [36, 7, 44],
    [37, 7, 6],
    [38, 7, 4],
    [39, 7, 5],
    [40, 7, 9],
    [41, 7, 7],
    [42, 7, 9],
    [43, 7, 36],
    [44, 7, 20],
    [45, 7, 14],
    [46, 7, 6],
    [47, 7, 13],
    [48, 7, 39],
    [49, 7, 1],
    [50, 7, 19],
    [51, 7, 31],
    [52, 7, 19],
    [53, 7, 5],
    [54, 7, 6],
    [55, 7, 3],
    [56, 7, 0],
    [57, 7, 4],
    [58, 7, 1],
    [59, 7, 22],
    [60, 7, 13],
    [61, 7, 5],
    [62, 7, 8],
    [63, 7, 20],
    [64, 7, 37],
    [65, 7, 4],
    [66, 7, 7],
    [67, 7, 7],
    [68, 7, 6],
    [69, 7, 14],
    [70, 7, 11],
    [71, 7, 84],
    [72, 7, 38],
    [73, 7, 7],
    [74, 7, 38],
    [75, 7, 2],
    [76, 7, 39],
    [0, 8, 46],
    [1, 8, 182],
    [2, 8, 15],
    [3, 8, 6],
    [4, 8, 12],
    [5, 8, 29],
    [6, 8, 6],
    [7, 8, 40],
    [8, 8, 28],
    [9, 8, 30],
    [10, 8, 19],
    [11, 8, 21],
    [12, 8, 16],
    [13, 8, 16],
    [14, 8, 3],
    [15, 8, 75],
    [16, 8, 22],
    [17, 8, 17],
    [18, 8, 22],
    [19, 8, 94],
    [20, 8, 14],
    [21, 8, 39],
    [22, 8, 50],
    [23, 8, 4],
    [24, 8, 21],
    [25, 8, 150],
    [26, 8, 47],
    [27, 8, 16],
    [28, 8, 49],
    [29, 8, 34],
    [30, 8, 242],
    [31, 8, 19],
    [32, 8, 10],
    [33, 8, 79],
    [34, 8, 64],
    [35, 8, 19],
    [36, 8, 21],
    [37, 8, 29],
    [38, 8, 120],
    [39, 8, 16],
    [40, 8, 45],
    [41, 8, 25],
    [42, 8, 17],
    [43, 8, 115],
    [44, 8, 6],
    [45, 8, 117],
    [46, 8, 36],
    [47, 8, 84],
    [48, 8, 249],
    [49, 8, 9],
    [50, 8, 185],
    [51, 8, 53],
    [52, 8, 92],
    [53, 8, 12],
    [54, 8, 42],
    [55, 8, 26],
    [56, 8, 11],
    [57, 8, 7],
    [58, 8, 8],
    [59, 8, 14],
    [60, 8, 70],
    [61, 8, 49],
    [62, 8, 49],
    [63, 8, 19],
    [64, 8, 48],
    [65, 8, 11],
    [66, 8, 10],
    [67, 8, 20],
    [68, 8, 12],
    [69, 8, 41],
    [70, 8, 79],
    [71, 8, 168],
    [72, 8, 192],
    [73, 8, 43],
    [74, 8, 69],
    [75, 8, 26],
    [76, 8, 15],
    [0, 9, 4],
    [1, 9, 191],
    [2, 9, 6],
    [3, 9, 5],
    [4, 9, 3],
    [5, 9, 19],
    [6, 9, 7],
    [7, 9, 6],
    [8, 9, 30],
    [9, 9, 1],
    [10, 9, 9],
    [11, 9, 2],
    [12, 9, 8],
    [13, 9, 14],
    [14, 9, 5],
    [15, 9, 7],
    [16, 9, 13],
    [17, 9, 3],
    [18, 9, 9],
    [19, 9, 31],
    [20, 9, 4],
    [21, 9, 49],
    [22, 9, 3],
    [23, 9, 2],
    [24, 9, 0],
    [25, 9, 35],
    [26, 9, 26],
    [27, 9, 2],
    [28, 9, 4],
    [29, 9, 1],
    [30, 9, 10],
    [31, 9, 2],
    [32, 9, 2],
    [33, 9, 21],
    [34, 9, 3],
    [35, 9, 5],
    [36, 9, 4],
    [37, 9, 43],
    [38, 9, 3],
    [39, 9, 0],
    [40, 9, 16],
    [41, 9, 11],
    [42, 9, 16],
    [43, 9, 14],
    [44, 9, 5],
    [45, 9, 14],
    [46, 9, 8],
    [47, 9, 10],
    [48, 9, 29],
    [49, 9, 3],
    [50, 9, 6],
    [51, 9, 25],
    [52, 9, 46],
    [53, 9, 1],
    [54, 9, 27],
    [55, 9, 17],
    [56, 9, 2],
    [57, 9, 5],
    [58, 9, 14],
    [59, 9, 26],
    [60, 9, 8],
    [61, 9, 6],
    [62, 9, 8],
    [63, 9, 6],
    [64, 9, 18],
    [65, 9, 9],
    [66, 9, 4],
    [67, 9, 3],
    [68, 9, 5],
    [69, 9, 3],
    [70, 9, 4],
    [71, 9, 31],
    [72, 9, 29],
    [73, 9, 3],
    [74, 9, 8],
    [75, 9, 3],
    [76, 9, 4],
    [0, 10, 10],
    [1, 10, 128],
    [2, 10, 11],
    [3, 10, 5],
    [4, 10, 3],
    [5, 10, 23],
    [6, 10, 4],
    [7, 10, 5],
    [8, 10, 13],
    [9, 10, 5],
    [10, 10, 33],
    [11, 10, 11],
    [12, 10, 16],
    [13, 10, 3],
    [14, 10, 3],
    [15, 10, 10],
    [16, 10, 6],
    [17, 10, 3],
    [18, 10, 9],
    [19, 10, 45],
    [20, 10, 5],
    [21, 10, 22],
    [22, 10, 7],
    [23, 10, 2],
    [24, 10, 4],
    [25, 10, 47],
    [26, 10, 16],
    [27, 10, 8],
    [28, 10, 7],
    [29, 10, 3],
    [30, 10, 37],
    [31, 10, 8],
    [32, 10, 1],
    [33, 10, 18],
    [34, 10, 7],
    [35, 10, 12],
    [36, 10, 9],
    [37, 10, 8],
    [38, 10, 6],
    [39, 10, 4],
    [40, 10, 21],
    [41, 10, 23],
    [42, 10, 5],
    [43, 10, 39],
    [44, 10, 1],
    [45, 10, 19],
    [46, 10, 8],
    [47, 10, 11],
    [48, 10, 36],
    [49, 10, 3],
    [50, 10, 17],
    [51, 10, 29],
    [52, 10, 21],
    [53, 10, 4],
    [54, 10, 19],
    [55, 10, 53],
    [56, 10, 1],
    [57, 10, 9],
    [58, 10, 1],
    [59, 10, 13],
    [60, 10, 25],
    [61, 10, 2],
    [62, 10, 16],
    [63, 10, 28],
    [64, 10, 10],
    [65, 10, 3],
    [66, 10, 2],
    [67, 10, 6],
    [68, 10, 12],
    [69, 10, 28],
    [70, 10, 13],
    [71, 10, 48],
    [72, 10, 24],
    [73, 10, 7],
    [74, 10, 36],
    [75, 10, 2],
    [76, 10, 8],
    [0, 11, 2],
    [1, 11, 42],
    [2, 11, 4],
    [3, 11, 1],
    [4, 11, 2],
    [5, 11, 1],
    [6, 11, 2],
    [7, 11, 8],
    [8, 11, 5],
    [9, 11, 5],
    [10, 11, 11],
    [11, 11, 1],
    [12, 11, 3],
    [13, 11, 0],
    [14, 11, 1],
    [15, 11, 4],
    [16, 11, 6],
    [17, 11, 1],
    [18, 11, 5],
    [19, 11, 21],
    [20, 11, 2],
    [21, 11, 8],
    [22, 11, 0],
    [23, 11, 1],
    [24, 11, 0],
    [25, 11, 35],
    [26, 11, 13],
    [27, 11, 3],
    [28, 11, 9],
    [29, 11, 2],
    [30, 11, 30],
    [31, 11, 6],
    [32, 11, 2],
    [33, 11, 8],
    [34, 11, 5],
    [35, 11, 1],
    [36, 11, 3],
    [37, 11, 5],
    [38, 11, 2],
    [39, 11, 19],
    [40, 11, 7],
    [41, 11, 5],
    [42, 11, 8],
    [43, 11, 16],
    [44, 11, 22],
    [45, 11, 13],
    [46, 11, 4],
    [47, 11, 6],
    [48, 11, 30],
    [49, 11, 3],
    [50, 11, 1],
    [51, 11, 25],
    [52, 11, 22],
    [53, 11, 1],
    [54, 11, 34],
    [55, 11, 3],
    [56, 11, 0],
    [57, 11, 2],
    [58, 11, 1],
    [59, 11, 4],
    [60, 11, 15],
    [61, 11, 3],
    [62, 11, 11],
    [63, 11, 8],
    [64, 11, 2],
    [65, 11, 1],
    [66, 11, 2],
    [67, 11, 2],
    [68, 11, 16],
    [69, 11, 11],
    [70, 11, 6],
    [71, 11, 16],
    [72, 11, 11],
    [73, 11, 2],
    [74, 11, 15],
    [75, 11, 1],
    [76, 11, 1],
    [0, 12, 62],
    [1, 12, 302],
    [2, 12, 40],
    [3, 12, 25],
    [4, 12, 18],
    [5, 12, 100],
    [6, 12, 22],
    [7, 12, 83],
    [8, 12, 65],
    [9, 12, 39],
    [10, 12, 36],
    [11, 12, 50],
    [12, 12, 34],
    [13, 12, 16],
    [14, 12, 18],
    [15, 12, 94],
    [16, 12, 38],
    [17, 12, 14],
    [18, 12, 59],
    [19, 12, 152],
    [20, 12, 54],
    [21, 12, 99],
    [22, 12, 74],
    [23, 12, 13],
    [24, 12, 64],
    [25, 12, 124],
    [26, 12, 68],
    [27, 12, 29],
    [28, 12, 63],
    [29, 12, 47],
    [30, 12, 137],
    [31, 12, 59],
    [32, 12, 14],
    [33, 12, 85],
    [34, 12, 54],
    [35, 12, 56],
    [36, 12, 14],
    [37, 12, 66],
    [38, 12, 153],
    [39, 12, 26],
    [40, 12, 83],
    [41, 12, 20],
    [42, 12, 25],
    [43, 12, 88],
    [44, 12, 56],
    [45, 12, 146],
    [46, 12, 48],
    [47, 12, 51],
    [48, 12, 292],
    [49, 12, 42],
    [50, 12, 150],
    [51, 12, 49],
    [52, 12, 110],
    [53, 12, 7],
    [54, 12, 41],
    [55, 12, 24],
    [56, 12, 41],
    [57, 12, 12],
    [58, 12, 41],
    [59, 12, 34],
    [60, 12, 122],
    [61, 12, 60],
    [62, 12, 51],
    [63, 12, 33],
    [64, 12, 129],
    [65, 12, 28],
    [66, 12, 17],
    [67, 12, 39],
    [68, 12, 95],
    [69, 12, 48],
    [70, 12, 131],
    [71, 12, 201],
    [72, 12, 94],
    [73, 12, 84],
    [74, 12, 64],
    [75, 12, 52],
    [76, 12, 37],
    [0, 13, 19],
    [1, 13, 218],
    [2, 13, 9],
    [3, 13, 6],
    [4, 13, 4],
    [5, 13, 21],
    [6, 13, 13],
    [7, 13, 38],
    [8, 13, 58],
    [9, 13, 16],
    [10, 13, 27],
    [11, 13, 13],
    [12, 13, 8],
    [13, 13, 15],
    [14, 13, 2],
    [15, 13, 39],
    [16, 13, 24],
    [17, 13, 7],
    [18, 13, 30],
    [19, 13, 72],
    [20, 13, 34],
    [21, 13, 49],
    [22, 13, 14],
    [23, 13, 1],
    [24, 13, 1],
    [25, 13, 103],
    [26, 13, 43],
    [27, 13, 14],
    [28, 13, 36],
    [29, 13, 20],
    [30, 13, 88],
    [31, 13, 16],
    [32, 13, 7],
    [33, 13, 55],
    [34, 13, 24],
    [35, 13, 10],
    [36, 13, 16],
    [37, 13, 14],
    [38, 13, 53],
    [39, 13, 5],
    [40, 13, 33],
    [41, 13, 13],
    [42, 13, 40],
    [43, 13, 50],
    [44, 13, 18],
    [45, 13, 60],
    [46, 13, 17],
    [47, 13, 43],
    [48, 13, 107],
    [49, 13, 11],
    [50, 13, 75],
    [51, 13, 35],
    [52, 13, 82],
    [53, 13, 3],
    [54, 13, 31],
    [55, 13, 38],
    [56, 13, 2],
    [57, 13, 8],
    [58, 13, 7],
    [59, 13, 17],
    [60, 13, 66],
    [61, 13, 21],
    [62, 13, 17],
    [63, 13, 21],
    [64, 13, 35],
    [65, 13, 7],
    [66, 13, 6],
    [67, 13, 8],
    [68, 13, 7],
    [69, 13, 35],
    [70, 13, 36],
    [71, 13, 95],
    [72, 13, 67],
    [73, 13, 19],
    [74, 13, 60],
    [75, 13, 3],
    [76, 13, 5],
    [0, 14, 6],
    [1, 14, 100],
    [2, 14, 6],
    [3, 14, 11],
    [4, 14, 4],
    [5, 14, 29],
    [6, 14, 7],
    [7, 14, 14],
    [8, 14, 20],
    [9, 14, 16],
    [10, 14, 24],
    [11, 14, 4],
    [12, 14, 11],
    [13, 14, 3],
    [14, 14, 5],
    [15, 14, 22],
    [16, 14, 9],
    [17, 14, 3],
    [18, 14, 27],
    [19, 14, 59],
    [20, 14, 35],
    [21, 14, 25],
    [22, 14, 23],
    [23, 14, 5],
    [24, 14, 7],
    [25, 14, 72],
    [26, 14, 12],
    [27, 14, 17],
    [28, 14, 20],
    [29, 14, 10],
    [30, 14, 105],
    [31, 14, 9],
    [32, 14, 7],
    [33, 14, 47],
    [34, 14, 13],
    [35, 14, 4],
    [36, 14, 20],
    [37, 14, 38],
    [38, 14, 59],
    [39, 14, 8],
    [40, 14, 39],
    [41, 14, 11],
    [42, 14, 3],
    [43, 14, 30],
    [44, 14, 22],
    [45, 14, 34],
    [46, 14, 13],
    [47, 14, 31],
    [48, 14, 91],
    [49, 14, 9],
    [50, 14, 49],
    [51, 14, 31],
    [52, 14, 16],
    [53, 14, 6],
    [54, 14, 28],
    [55, 14, 6],
    [56, 14, 4],
    [57, 14, 6],
    [58, 14, 4],
    [59, 14, 17],
    [60, 14, 50],
    [61, 14, 12],
    [62, 14, 25],
    [63, 14, 14],
    [64, 14, 32],
    [65, 14, 7],
    [66, 14, 9],
    [67, 14, 9],
    [68, 14, 28],
    [69, 14, 41],
    [70, 14, 47],
    [71, 14, 69],
    [72, 14, 36],
    [73, 14, 11],
    [74, 14, 37],
    [75, 14, 17],
    [76, 14, 9],
    [0, 15, 60],
    [1, 15, 214],
    [2, 15, 21],
    [3, 15, 18],
    [4, 15, 10],
    [5, 15, 61],
    [6, 15, 18],
    [7, 15, 83],
    [8, 15, 47],
    [9, 15, 33],
    [10, 15, 23],
    [11, 15, 51],
    [12, 15, 38],
    [13, 15, 11],
    [14, 15, 2],
    [15, 15, 56],
    [16, 15, 14],
    [17, 15, 25],
    [18, 15, 63],
    [19, 15, 181],
    [20, 15, 45],
    [21, 15, 49],
    [22, 15, 78],
    [23, 15, 9],
    [24, 15, 57],
    [25, 15, 118],
    [26, 15, 41],
    [27, 15, 26],
    [28, 15, 60],
    [29, 15, 47],
    [30, 15, 129],
    [31, 15, 23],
    [32, 15, 15],
    [33, 15, 98],
    [34, 15, 49],
    [35, 15, 32],
    [36, 15, 44],
    [37, 15, 48],
    [38, 15, 292],
    [39, 15, 22],
    [40, 15, 43],
    [41, 15, 27],
    [42, 15, 8],
    [43, 15, 77],
    [44, 15, 45],
    [45, 15, 125],
    [46, 15, 39],
    [47, 15, 50],
    [48, 15, 286],
    [49, 15, 65],
    [50, 15, 171],
    [51, 15, 41],
    [52, 15, 74],
    [53, 15, 4],
    [54, 15, 47],
    [55, 15, 52],
    [56, 15, 17],
    [57, 15, 8],
    [58, 15, 16],
    [59, 15, 57],
    [60, 15, 100],
    [61, 15, 47],
    [62, 15, 45],
    [63, 15, 19],
    [64, 15, 74],
    [65, 15, 14],
    [66, 15, 12],
    [67, 15, 30],
    [68, 15, 42],
    [69, 15, 47],
    [70, 15, 97],
    [71, 15, 189],
    [72, 15, 117],
    [73, 15, 57],
    [74, 15, 63],
    [75, 15, 46],
    [76, 15, 27],
    [0, 16, 4],
    [1, 16, 70],
    [2, 16, 9],
    [3, 16, 3],
    [4, 16, 22],
    [5, 16, 14],
    [6, 16, 9],
    [7, 16, 3],
    [8, 16, 11],
    [9, 16, 3],
    [10, 16, 4],
    [11, 16, 4],
    [12, 16, 9],
    [13, 16, 0],
    [14, 16, 3],
    [15, 16, 4],
    [16, 16, 8],
    [17, 16, 5],
    [18, 16, 5],
    [19, 16, 23],
    [20, 16, 21],
    [21, 16, 13],
    [22, 16, 3],
    [23, 16, 4],
    [24, 16, 3],
    [25, 16, 42],
    [26, 16, 10],
    [27, 16, 3],
    [28, 16, 7],
    [29, 16, 5],
    [30, 16, 34],
    [31, 16, 5],
    [32, 16, 9],
    [33, 16, 22],
    [34, 16, 7],
    [35, 16, 5],
    [36, 16, 0],
    [37, 16, 10],
    [38, 16, 11],
    [39, 16, 2],
    [40, 16, 24],
    [41, 16, 3],
    [42, 16, 11],
    [43, 16, 35],
    [44, 16, 6],
    [45, 16, 8],
    [46, 16, 3],
    [47, 16, 13],
    [48, 16, 44],
    [49, 16, 6],
    [50, 16, 21],
    [51, 16, 33],
    [52, 16, 7],
    [53, 16, 2],
    [54, 16, 23],
    [55, 16, 3],
    [56, 16, 3],
    [57, 16, 5],
    [58, 16, 3],
    [59, 16, 1],
    [60, 16, 13],
    [61, 16, 1],
    [62, 16, 13],
    [63, 16, 16],
    [64, 16, 22],
    [65, 16, 1],
    [66, 16, 2],
    [67, 16, 4],
    [68, 16, 5],
    [69, 16, 15],
    [70, 16, 8],
    [71, 16, 33],
    [72, 16, 22],
    [73, 16, 9],
    [74, 16, 10],
    [75, 16, 2],
    [76, 16, 8],
    [0, 17, 6],
    [1, 17, 34],
    [2, 17, 13],
    [3, 17, 16],
    [4, 17, 16],
    [5, 17, 44],
    [6, 17, 2],
    [7, 17, 25],
    [8, 17, 8],
    [9, 17, 41],
    [10, 17, 22],
    [11, 17, 6],
    [12, 17, 15],
    [13, 17, 1],
    [14, 17, 2],
    [15, 17, 60],
    [16, 17, 15],
    [17, 17, 8],
    [18, 17, 24],
    [19, 17, 118],
    [20, 17, 37],
    [21, 17, 5],
    [22, 17, 33],
    [23, 17, 4],
    [24, 17, 32],
    [25, 17, 141],
    [26, 17, 5],
    [27, 17, 12],
    [28, 17, 61],
    [29, 17, 43],
    [30, 17, 142],
    [31, 17, 23],
    [32, 17, 2],
    [33, 17, 70],
    [34, 17, 68],
    [35, 17, 23],
    [36, 17, 4],
    [37, 17, 51],
    [38, 17, 164],
    [39, 17, 4],
    [40, 17, 44],
    [41, 17, 3],
    [42, 17, 3],
    [43, 17, 65],
    [44, 17, 38],
    [45, 17, 106],
    [46, 17, 50],
    [47, 17, 40],
    [48, 17, 504],
    [49, 17, 67],
    [50, 17, 93],
    [51, 17, 33],
    [52, 17, 17],
    [53, 17, 1],
    [54, 17, 23],
    [55, 17, 29],
    [56, 17, 19],
    [57, 17, 9],
    [58, 17, 16],
    [59, 17, 11],
    [60, 17, 120],
    [61, 17, 49],
    [62, 17, 38],
    [63, 17, 47],
    [64, 17, 49],
    [65, 17, 20],
    [66, 17, 4],
    [67, 17, 38],
    [68, 17, 32],
    [69, 17, 40],
    [70, 17, 85],
    [71, 17, 111],
    [72, 17, 57],
    [73, 17, 35],
    [74, 17, 60],
    [75, 17, 46],
    [76, 17, 20],
    [0, 18, 73],
    [1, 18, 35],
    [2, 18, 8],
    [3, 18, 9],
    [4, 18, 6],
    [5, 18, 23],
    [6, 18, 23],
    [7, 18, 30],
    [8, 18, 23],
    [9, 18, 33],
    [10, 18, 22],
    [11, 18, 27],
    [12, 18, 65],
    [13, 18, 18],
    [14, 18, 5],
    [15, 18, 50],
    [16, 18, 17],
    [17, 18, 4],
    [18, 18, 19],
    [19, 18, 253],
    [20, 18, 42],
    [21, 18, 17],
    [22, 18, 54],
    [23, 18, 5],
    [24, 18, 49],
    [25, 18, 114],
    [26, 18, 11],
    [27, 18, 35],
    [28, 18, 67],
    [29, 18, 55],
    [30, 18, 55],
    [31, 18, 22],
    [32, 18, 15],
    [33, 18, 102],
    [34, 18, 28],
    [35, 18, 23],
    [36, 18, 8],
    [37, 18, 50],
    [38, 18, 114],
    [39, 18, 25],
    [40, 18, 33],
    [41, 18, 32],
    [42, 18, 40],
    [43, 18, 82],
    [44, 18, 56],
    [45, 18, 70],
    [46, 18, 32],
    [47, 18, 44],
    [48, 18, 181],
    [49, 18, 29],
    [50, 18, 359],
    [51, 18, 63],
    [52, 18, 19],
    [53, 18, 6],
    [54, 18, 54],
    [55, 18, 23],
    [56, 18, 24],
    [57, 18, 18],
    [58, 18, 11],
    [59, 18, 43],
    [60, 18, 73],
    [61, 18, 37],
    [62, 18, 42],
    [63, 18, 31],
    [64, 18, 42],
    [65, 18, 13],
    [66, 18, 8],
    [67, 18, 30],
    [68, 18, 20],
    [69, 18, 32],
    [70, 18, 63],
    [71, 18, 153],
    [72, 18, 76],
    [73, 18, 29],
    [74, 18, 80],
    [75, 18, 25],
    [76, 18, 21],
    [0, 19, 21],
    [1, 19, 96],
    [2, 19, 11],
    [3, 19, 7],
    [4, 19, 5],
    [5, 19, 29],
    [6, 19, 8],
    [7, 19, 62],
    [8, 19, 34],
    [9, 19, 31],
    [10, 19, 19],
    [11, 19, 26],
    [12, 19, 6],
    [13, 19, 11],
    [14, 19, 1],
    [15, 19, 31],
    [16, 19, 27],
    [17, 19, 3],
    [18, 19, 10],
    [19, 19, 212],
    [20, 19, 5],
    [21, 19, 17],
    [22, 19, 38],
    [23, 19, 8],
    [24, 19, 22],
    [25, 19, 99],
    [26, 19, 14],
    [27, 19, 6],
    [28, 19, 35],
    [29, 19, 24],
    [30, 19, 50],
    [31, 19, 10],
    [32, 19, 5],
    [33, 19, 51],
    [34, 19, 33],
    [35, 19, 5],
    [36, 19, 30],
    [37, 19, 23],
    [38, 19, 117],
    [39, 19, 14],
    [40, 19, 48],
    [41, 19, 18],
    [42, 19, 10],
    [43, 19, 51],
    [44, 19, 31],
    [45, 19, 108],
    [46, 19, 40],
    [47, 19, 18],
    [48, 19, 97],
    [49, 19, 36],
    [50, 19, 84],
    [51, 19, 45],
    [52, 19, 87],
    [53, 19, 24],
    [54, 19, 33],
    [55, 19, 21],
    [56, 19, 8],
    [57, 19, 6],
    [58, 19, 9],
    [59, 19, 23],
    [60, 19, 109],
    [61, 19, 28],
    [62, 19, 28],
    [63, 19, 26],
    [64, 19, 64],
    [65, 19, 5],
    [66, 19, 4],
    [67, 19, 22],
    [68, 19, 10],
    [69, 19, 39],
    [70, 19, 27],
    [71, 19, 93],
    [72, 19, 40],
    [73, 19, 19],
    [74, 19, 52],
    [75, 19, 18],
    [76, 19, 19],
]
    .map(function (item) {
    return [item[0], item[1], item[2] || '-'];
});
option = {
  tooltip: {
    position: 'top'
  },
  grid: {
    height: '80%',
    left: '17%'
  },
  xAxis: {
    type: 'category',
    data: province,
    axisLabel:{
      rotate: 45,
      interval: 0
    },
    splitArea: {
      show: true
    }
  },
  yAxis: {
    type: 'category',
    data: jobs,
    splitArea: {
      show: true
    }
  },
  visualMap: {
    min: 0,
    max: 200,
    calculable: true,
    orient: 'vertical',
    right: '5%',
    bottom: '40%'
  },
  series: [
    {
      name: 'จำนวนผู้สมัคร สว.',
      type: 'heatmap',
      data: data,
      label: {
        show: true
      },
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};

    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);
  </script>
</body>
</html>